@model List<BlogLineChart>;

@section AdminHead{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Năm', 'Số vé', 'Doanh thu'],
            @foreach(BlogLineChart i in Model)
            {
                @:['@i.DonVi', @i.SoVe, @i.DoanhThu],
            }
        ]);

        var options = {
          title: 'Biểu đồ đường số vé và doanh thu các năm',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
}

@{
    <div align="center" id="curve_chart" style="width: 1000px; height: 700px"></div>
}
