.toggle-next{
  border-radius: 0
}
.dropdown_label{
  cursor: pointer
}
.ellipsis {
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden
}
.apply-selection{
  display: none;
  width: 250px;
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc
}
  .ajax-link {
    display: none
  }
.checkboxes{
  margin: 0;
  display: none;
  border: 1px solid #ccc;
  border-top: 0
}
  .inner-wrap {
    width: 250px;
    padding: 5px 10px;
    max-height: 140px;
    overflow: auto
  }