
@{
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Loại tài khoản</th>
                <th style="width: 100px"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var account in (ViewData["Accounts"] as IEnumerable<Account>))
            {

                <tr>
                    <td>@account.cus_email</td>
                    <td>@account.c_role</td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-controller="Account"
                           asp-action="Delete" asp-route-id="@account.cus_email">
                            <i class="fas fa-trash"></i>
                        </a>
                    @*
                        <a class="btn btn-danger btn-sm" href="#"
                           onclick="removeRow(\'' . $account->cus_email . '\', \'/admin/accounts/destroy\')">
                            <i class="fas fa-trash"></i>
                        </a>
                     *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
    </div>


}


