
@{
    <table class="table">
        <thead>
            <tr>
                <th style="width: 50px">ID</th>
                <th>Sức Chứa</th>
                <th style="width: 100px"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var room in (ViewData["Rooms"] as IEnumerable<Room>))
            {
                <tr>
                    <td> @room.r_id </td>
                    <td> @room.r_capacity </td>
                    <td>

                    <a class="btn btn-primary btn-sm" asp-controller="Room"
                        asp-action="Edit" asp-route-id="@room.r_id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" asp-controller="Room"
                        asp-action="Delete" asp-route-id="@room.r_id">
                        <i class="fas fa-trash"></i>
                    </a>

                    @*
                        <a class="btn btn-primary btn-sm" href="/admin/rooms/edit/' . $room->r_id . '">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" href="#"
                           onclick="removeRow(\'' . $room->r_id . '\', \'/admin/rooms/destroy\')">
                            <i class="fas fa-trash"></i>
                        </a>
                     *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
    </div>
}